body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #532323;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:500px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 .landing-carousel {
    display: block;
    width: 100%;
    height: 200px;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #fff;
    background-color: #dd2929;
}

#landing-chevron {
    margin: 1em;
    font-size: 3em;
    border: none;
}

#landing-chevron a {
    color: #fff;
}


#landing-chevron a:hover {
    color: lightgrey;
}

.navbar-inverse {
    background-color: #b12222;
    border-color: #b12222;
}

